# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.dll

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace
.vscode/

# Logs and databases
logs/
*.log
*.sqlite
*.sqlite3

# Dependency directories
node_modules/
jspm_packages/

# Poetry
poetry.lock

# Local development
.DS_Store
*.swp